* {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: #282828;
}

@media screen and (min-width: 1281px) {
    .grid-container {
        width: 35%;
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        height: 40px;
        flex-basis: 6.25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .grid-container {
        width: 35%;
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        height: 30px;
        flex-basis: 6.25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        width: 75%;
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        height: 40px;
        flex-basis: 6.25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .grid-container {
        width: 75%;
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        height: 30px;
        flex-basis: 6.25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
    width: 75%;
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square {
    height: 20px;
    flex-basis: 6.25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
}