body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #282828;
    font-family: Ubuntu Mono, monospace;
}

h1 {
    color: white;
    text-align: center;
}

.grid-container {
    display: flex;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: white;
}

.all-rows {
    width: 100%;
}

.square {
    width: 100%;
    height: 100%;
}

.change-color {
    background-color: #e63946;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #e63946;
    border-radius: 15px;
}